@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #E8C547;
    --title: #30323D;
    --text-hover: #4D5061;
    --text: #FFFFFF;
}

#nav {
    width: 100%;
    height: 70px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary);
}

#nav img {
    width: 220px;
}


.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.menu a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    color: var(--title);
}

.menu a:hover {
    color: var(--text-hover);
}

.banner {
    width: 100%;
    height: 850px;
    background-image: url(/img/Fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner h2 {
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 700;
    color: var(--text);
    text-align: center;
}

.banner span {
    color: var(--primary);
    font-size: 60px;
}

.btn_banner {
    margin-top: 5rem;
    border: none;
    border-radius: 30px;
    background-color: var(--primary);
    color: var(--title);
    width: 240px;
    padding: 10px 15px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn_banner:hover {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.sobre {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-sobre {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.texto-sobre h2 {
    font-family: 'Robot';
    font-size: 40px;
    font-weight: 700;
    color: var(--title);
    margin-bottom: 3rem;
}

.texto-sobre span {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    color: var(--text-hover);
    background-color: var(--primary);
    padding: .3rem;
    border-radius: 8px;
}

.texto-sobre p {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: var(--text-hover);
}

.img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.servicos {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 0 40px 10px var(--title);
}

.texto-servicos h2 {
    margin-top: 2rem;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    color: var(--title);
    text-decoration: underline var(--primary);
}

.cards-servicos {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cards-servicos div {
    background-color: var(--primary);
    width: 20em;
    height: 16em;
    border-radius: 10px;
    border-bottom: 8px solid var(--title);
    box-shadow: 8px 8px 8px 7px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

.cards-servicos h3 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
    text-transform: uppercase;
}

.cards-servicos p {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    #btn-mobile {
        display: block;
    }
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--primary);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active .menu {
        height: 40vh;
        visibility: visible;
        overflow-y: auto;
    }
    .menu a {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .08);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        display: block;
        color: var(--title);
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width: 895px) {
    .sobre {
        flex-direction: column;
        height: 100%;
    }
    .texto-sobre {
        width: 100%;
    }
    .img {
        width: 100%;
        margin-bottom: 2rem;
    }
    .servicos {
        height: 100%;
    }
    .cards-servicos {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .cards-servicos div {
        width: 85%;
    }
    .texto-servicos {
        text-align: center;
    }
}

section.portifolio {
    width: 100%;
    height: 750px;
    padding: 2rem;
    box-shadow: 0 0 40px 10px var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--title);
}

.texto-portifolio h2 {
    margin-top: 2rem;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    color: var(--primary);
    text-decoration: underline var(--text-hover);
}

section.portifolio .projetos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem;
}

.img-projeto {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .7s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-projeto:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.overlay a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 600;
    color: var(--primary);
}

@media (max-width: 895px) {
    section.portifolio {
        height: 100%;
    }
    section.portifolio .projetos {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .img-projeto {
        width: 85%;
        margin-bottom: 2rem;
    }
}

.faq {
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto-faq h2 {
    margin-top: 2rem;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    color: var(--title);
    text-decoration: underline var(--primary);
}

.secao-faq {
    margin-top: 5rem;
}

.secao-faq details {
    background-color: var(--primary);
    margin-bottom: .8rem;
    padding: 10px 15px;
    border-radius: 30px;
    width: 35em;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    color: var(--title);
}

.secao-faq p {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    padding: .5rem;
    color: var(--text-hover);
}